
*{
    padding: 0;
    margin: 0;
}
/* shared styles */
.display-flex{
display: flex;
}

.text-color{
    color: #252432;
}
.text-color1{
    color: #8987A1;
}
.text-color2{
    color: #000000;
}
.text-color3{
    color: #E95A08;
}
.text-color4{
    color: rgba(0, 0, 0, 0.5);
}
.font-size{
    font-size: 3.125rem;
}
.font-size1{
    font-size: 1.375rem;
}
.font-weight{
    font-weight: 400;
}
.font-weight1{
    font-weight: bold;
}
.btn{
    background-color: #E95A08;
    color: white;
    border: none;
    font-size: 1rem;
}



/* navber styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
    padding: 20px;
   
}
.nav-link, .nav-link1{
    text-decoration: none;
}
.navbar, .banner, .card-containers, .Plants-lover-section, .footer{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styles */
.banner{
    align-items: center;
    padding: 120px 150px;
}
.leftside-banner{
    padding-top: 162px;
}
.leftside-banner h1{
    font-weight: bold;
}
.rightside-banner{
    padding-top: 106px;
}
/* plant-section style */
.Plants-Section{
  text-align: center;
}
.card-containers, .card img{
    width: 100%;
    /* height: 322px; */
    padding-bottom: 30px;
}
.card-containers, .card, .card-body{
    padding-bottom: 30px;
}
.card-containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 150px;
    
}
.card-containers, .card button{
    width: 270px;
    padding: 19px 80px;
}

.Plants-lover-section{
    justify-content: space-between;
    gap: 60px;
    align-items: center;
    padding-top: 83px;
}
.Plants-lover-section img{
    width: 540px;
    height: 597px;
}
.Plants-lover-section h1{
    width: 540px;
    height: 137px;
}
.Plants-lover-section ul li{
    padding-top: 20px;
    width: 540px;
    height: 108px;
}

#badge{
    width: 287px;
    height: 287px;
    margin-top: -438px;
    margin-left: -347px;
    margin-bottom: 127px;
    margin-right: -160px;
}

.footer{
    justify-content: space-between;
    gap: auto;
}
.footer ul li{
    list-style: none;
    padding-top: 32px;
}

.website-logo{
    padding-bottom: 69px;
    width: 359px;
}

/* Join Section styles*/
.join-section{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat ;
    max-width: 1440px;
    height: 533px;
    text-align: center;
    margin: 150px auto;
}
.join-section h1{
    padding-top: 199px;
    color: white;
    padding-bottom: 23px;
}
.join-section input{
    width: 644px;
    height: 50px;
    padding-left: 20px;
}
.join-section .subscribe-button{
    color: white;
    width: 186px;
    height: 50px;
    background-color: #E95A08;
    border: none;
    
    
}

/* responsive media query  */
@media screen and (max-width: 576px) {
    .navbar{
        max-width: 100%;
    }
    .nav-links {
    padding: 7px 0;
  }
   .nav-item {
    margin-right: 0;
  }
    .nav-link{
      display: none;
    }
    .nav-link1{
        display: inline-block;
        width: 113px;
    }
    .navbar img{
        width: 63px;
        padding-left: 16px;
    }

    .banner{
        flex-direction: column-reverse;
        margin: 28px 16px;
        max-width: 100%;
       
    }
    .leftside-banner{
        width: 361px;
    }
    .card-containers{
        grid-template-columns: repeat(2, 1fr);
        margin: auto 0;  
    }
   .card-containers, .card img{
    width: 171px;
    
}
.card-containers, .card button{
    width: 171px;
    padding: 19px 30px;
    font-size: 0.8rem;
}
.Plants-lover-section{
    flex-direction: column;
}
.Plants-lover-section #badge{
    display: none;
}
.Plants-lover-section h1{
    width: 361px;
}
.Plants-lover-section ul li{
    width: 361px;
 
}
.join-section{
    width: 100%;
}
.join-section h1{
    font-size: 1.25rem;
}
.join-section input{
    width: 218px;
}
.join-section .subscribe-button{
    width: 103px;
}
.footer{
    flex-direction: column;
    padding-left: 20px;
}
.footer .website-logo{
    padding-bottom: 0;
}
.footer .icons{
    padding-top: 20px;
}
}

