
*{
    padding: 0;
    margin: 0;
}
/* shared styles */
.display-flex{
display: flex;
}

.text-color{
    color: #252432;
}
.text-color1{
    color: #8987A1;
}
.text-color2{
    color: #000000;
}
.text-color3{
    color: #E95A08;
}
.text-color4{
    color: rgba(0, 0, 0, 0.5);
}
.font-size{
    font-size: 3.125rem;
}
.font-size1{
    font-size: 1.375rem;
}
.font-weight{
    font-weight: 400;
}
.font-weight1{
    font-weight: bold;
}
.btn{
    background-color: #E95A08;
    color: white;
    border: none;
}



/* navber styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 48px;
    padding: 20px;
   
}
.nav-link, .nav-link1{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* banner styles */
.banner{
    align-items: center;
    padding: 120px 150px;
}
.leftside-banner{
    padding-top: 162px;
}
.leftside-banner h1{
    font-weight: bold;
}
.rightside-banner{
    padding-top: 106px;
}
/* plant-section style */
.Plants-Section{
  text-align: center;
}
.card-containers, .card img{
    width: 100%;
    /* height: 322px; */
    padding-bottom: 30px;
}
.card-containers, .card, .card-body{
    padding-bottom: 30px;
}
.card-containers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 0 150px;
    

}
.card-containers, .card button{
    width: 270px;
    padding: 19px 80px;
}


/* responsive media query  */
@media screen and (max-width: 576px) {
    .navbar{
        flex-direction: row;
        max-width: 100%;
    }
    .nav-links {
    padding: 7px 0;
  }
   .nav-item {
    margin-right: 0;
  }
    .nav-link{
      display: none;
    }
    .nav-link1{
        display: inline-block;
        width: 113px;
    }
    .navbar img{
        width: 63px;
        padding-left: 16px;
    }

    .banner{
        flex-direction: column-reverse;
        max-width: 100%;
        margin: 28px 16px;
    }
    .leftside-banner{
        width: 361px;
    }

    .card-containers{
        grid-template-columns: repeat(2, 1fr);
       
    }
   .card-containers, .card img{
    width: 100%;
    
}

}

